main {
  width: 100%;
  height: 100vh;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}

main .wrapper-main {
  width: 1000px;
  margin: 0 auto;
}

.wrapper-main-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

main .main-intro-container {
  width: 400px;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main .main-intro {
  display: flex;
  flex-direction: column;
}

main .main-intro h1 {
  font-size: 80px;
  line-height: 90px;
}

main p {
  font-size: 18px;
  line-height: 26px;
}

main a {
  margin-top: 30px;
  font-size: 18px;
  display: block;
  border: 2px solid black;
  background-color: #D91656;
  padding: 0 20px 0;
  width: fit-content;
}

main a:hover {
  background-color: #FF204E;
}

main .main-image-container {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

main .main-image-box {
  width: 300px;
  transition: all ease-in-out 0.5s;
}

main .main-image-box img {
  border: 6px solid white;
  object-fit: cover;
  border-radius: 50%;
}

main .main-image-box:hover {
  width: 350px;
}

/* Category Section */

.index-category {
  border: 1px solid white;
  width: 100%;
  height: 100vh;
  background-color: #F4DEB3;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.index-category-box {
  height: 600px;
  width: 300px;
  margin: 30px 30px;
  border: 2px solid black;
  border-radius: 30px;
  background-color: #D91656;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.5s;
}

.index-category-box:hover {
    background-color: #FF204E;
    width: 400px;
}

.index-category-box h3 {
  text-align: center;
}

.index-category-box img {
    height: 100px;
    width: 100px;
    margin: 30px;
}

/* About Section */

.index-about {
  width: 100%;
  height: 100vh;
  background-color: #624E88;
}

.index-about-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-about-img {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-about-img img {
  width: 300px;
  border-radius: 300px;
  padding: 30px;
  margin-right: 50px;
  transition: all ease-in-out 0.5s;
}

.index-about-img img:hover {
  width: 350px;
  cursor: pointer;
}

.index-about-text {
  flex-basis: 30%;
}

.index-about-text h2 {
  padding-bottom: 20px;
}

.index-about-text a {
  display: block;
  margin-top: 30px;
  width: 200px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  background-color: #D91656;
}

.index-about-text a:hover {
  background-color: #FF204E;
}

.index-about-skill {
  flex-basis: 20%;
  padding: 20px;
}

.index-about-skill p {
  padding: 10px 0;
}

.index-about-skill-bar {
  width: 100%;
  height: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.index-about-skill-bar-fill {
  width: 100%;
  height: 100%;
  background-color: salmon;
}

.htmlcss {
  width: 70%;
}

.js {
  width: 40%;
}

.react {
  width: 20%;
}

.tw {
  width: 10%;
}
