html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

/* Default */

a {
  cursor: pointer;
  color: white;
  line-height: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

h1, h2, h3 {
  cursor: pointer;
  color: white;
  font-size: 25px;
  line-height: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

p {
  cursor: pointer;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  cursor: pointer;
  color: white;
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header */

.header-main {
  width: 100%;
  height: 80px;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-main-logo-box {
  width: fit-content;
}

.header-main-logo-box img {
  position: relative;
  height: 100%;
  margin: 0 50px 0;
  align-self: center;
}

.header-main-nav {
  margin: 0 40px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main-nav ul {
  list-style: none;
  margin-right: 50px;
  display: flex;
}

.header-main-nav ul li a {
  color: black;
  padding: 30px;
  display: block;
}

.header-main-nav ul li a:hover {
  color: tomato;
}

.header-main-sm {
  width: fit-content;
  padding: 30px;
  display: flex;
  align-items: center;
}

.header-main-sm-gh {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url(/img/github-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-ln {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url(/img/linkedin-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-ig {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url(/img/instagram-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Foooter */

#footer-main {
  width: 100%;
  height: 100%;
}

.footer-main-testemoni-container {
  width: 80%;
  padding: 80px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

.footer-testemoni-box {
  width: 50px;
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-testemoni-box img {
  width: 100%;
  border-radius: 50%;
}

.footer-testemoni-box p {
  margin-top: 20px;
  font-style: italic;
  text-align: center;
  font-size: 14px;
}

.footer-getintouch {
  display: block;
  font-weight: 600;
  text-align: center;
  padding: 10px 30px;
  margin: 80px 0 80px;
  border: 2px solid white;
}

.footer-getintouch:hover {
  border: 2px solid #FF204E;
}

.footer-sitemap {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

.footer-sitemap ul li {
  font-size: 14px;
}

.footer-sitemap ul li a {
  font-size: 14px;
}

.footer-sitemap ul li a p {
  font-size: 14px;
  line-height: 30px;
}

.footer-sitemap a:hover {
  opacity: 0.8;
}

.footer-sitemap ul:nth-child(1) {
  flex-basis: 20%;
  border-left: 2px solid #D91656;
  align-content: center;
}

.footer-sitemap ul:nth-child(2) {
  flex-basis: 20%;
  border-left: 2px solid #D91656;
  align-content: center;
}

.footer-sitemap ul:nth-child(3) {
  flex-basis: 40%;
  border-left: 2px solid #D91656;
  align-content: center;
}

.footer-sitemap ul:nth-child(4) {
  flex-basis: 20%;
  padding: 20px;
  text-align: right;
}

.burger-menu,
.burger-menu-btn {
  display: none;
}

/* Mobile Version */

@media only screen and (max-width: 768px) {

  .burger-menu-btn {
    display: block;
    height: 30px;
    width: 30px;
    background-image: url(img/menu-btn.png), url(img/cross-btn.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 30px;
    margin-left: 20px;
  }

  .burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 900;
    position: fixed;
    background-color: black;
    }

  .burger-menu ul {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
  }

  .burger-menu ul li {
    padding: 50px;
    flex-basis: 100%;
    border-top: 1px solid white;
  }

  .burger-menu ul li:first-child {
    border: none;
  }

  .header-main-logo-box img {
    margin-left: 40px;
  }

  .header-main-nav {
    display: none;
  }
  
  .footer-main-testemoni-container {
    width: 100%;
  }
  
  .footer-testemoni-box {
    width: 100%;
    padding: 30px;
    flex-basis: 80%;
  }

  .footer-sitemap {
    flex-direction: column;
  }

  .footer-sitemap ul {
    border-top: 1px solid gray;
  }
  
  .footer-sitemap ul:nth-child(1) {
    flex-basis: 100%;
    border-left: none;
    text-align: center;
    padding: 30px;
  }
  
  .footer-sitemap ul:nth-child(2) {
    flex-basis: 100%;
    text-align: center;
    border-left: none;
    padding: 30px;
  }
  
  .footer-sitemap ul:nth-child(3) {
    flex-basis: 100%;
    border-left: none;
    text-align: center;
    padding: 30px;
  }
  
  .footer-sitemap ul:nth-child(4) {
    flex-basis: 100%;
    text-align: center;
    padding: 30px;
  }

}
