body {
  background-color: black;
}

/* Default */

a {
  cursor: pointer;
  color: white;
  line-height: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
}

h1, h2, h3 {
  cursor: pointer;
  color: white;
  font-size: 25px;
  line-height: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
}

p {
  cursor: pointer;
  color: white;
  font-size: 25px;
  line-height: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  cursor: pointer;
  color: white;
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header */

.header-main {
  width: 100%;
  height: 80px;
  background-color: wheat;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

.header-main-logo {
  height: 100%;
  display: flex;
  width: fit-content;
  padding-right: 20px;
}

.header-main-logo img {
  position: relative;
  height: 80px;
  margin-left: 80px;
  align-self: center;
}

.header-main-nav {
  margin-right: 40px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main-nav ul {
  list-style: none;
  display: flex;
}

.header-main-nav ul li a {
  color: black;
  padding: 30px;
  display: block;
}

.header-main-nav ul li a:hover {
  color: tomato;
}

.header-main-sm {
  width: fit-content;
  padding: 30px;
  display: flex;
  align-items: center;
}

.header-main-sm-gh {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url(/img/github-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-ln {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url(/img/linkedin-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-main-sm-ig {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url(/img/instagram-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Foooter */

.footer-main {
  width: 100%;
  height: 100%;
}

.wrapper-footer {
  width: 1000px;
  margin: 0 auto;
}

.wrapper-footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-main-testemoni-container {
  width: 80%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

.footer-testemoni-box {
  width: 50px;
  display: flex;
  margin-top: 40px;
  flex-basis: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-testemoni-box img {
  width: 100%;
  border-radius: 50%;
}

.footer-testemoni-box p {
  margin-top: 20px;
  font-style: italic;
  text-align: center;
  font-size: 14px;
}

.footer-getintouch {
  display: block;
  font-weight: 600;
  text-align: center;
  padding: 10px 30px;
  margin: 80px 0 80px;
  border: 2px solid white;
}

.footer-getintouch:hover {
  border: 2px solid #FF204E;
}

/* Sitemap */

.footer-sitemap {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}

.footer-sitemap ul li {
  font-size: 14px;
}

.footer-sitemap ul li a {
  font-size: 14px;
}

.footer-sitemap ul li a p {
  font-size: 14px;
  line-height: 30px;
}

.footer-sitemap a:hover {
  opacity: 0.8;
}

.footer-sitemap ul:nth-child(1) {
  flex-basis: 20%;
  font-style: italic;
  border-left: 2px solid #D91656;
  align-content: center;
}

.footer-sitemap ul:nth-child(2) {
  flex-basis: 20%;
  font-style: italic;
  border-left: 2px solid #D91656;
  align-content: center;
}

.footer-sitemap ul:nth-child(3) {
  flex-basis: 40%;
  border-left: 2px solid #D91656;
  font-style: italic;
  align-content: center;
}

.footer-sitemap ul:nth-child(4) {
  flex-basis: 20%;
  font-style: italic;
  text-align: right;
}
